.image {
    margin: 3em 10em;
    height: 95vh;
    background-image: url(./jakethedog.jpeg);
    background-size: contain;
    border-radius: 50px;
}

.headline {
    font-size: 6.5em;
    color: white;
}

.root {
    display: flex;
    flex-flow: nowrap;
    align-items: space-around;
    justify-content: center;
    align-items: center;
    height: 95vh;
}

